@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');

html {
	background: #362D73;
	background-image:
		radial-gradient(80% 50% ellipse at center top, #020659 25%, rgba(0,0,0,0) 100%),
		radial-gradient(50% 15% ellipse at center bottom, #020659 25%, #100A1C 100%);
	color: #6CACC5;
}

body {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-family: 'Bellota', Sans-serif;

}

header h1 {
	font-size: 28pt;
}

header h4 {
	font-size: 12pt;
	text-align: center;
}

section {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

input#textView {
	margin-bottom: 25px;
	background-color: rgba(225,225,225,0.3);
	width: 300px;
	text-align: center;
	color: #FFF;
	border-width: 0px 0px 1px 0px;
	border-color: #6CACC5;
	font-size: 18pt;
}

.botao {
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 16pt;
	text-align: center;
	border: 1px solid #000;
	background-color: #020659;
	color: #6CACC5;
	transition-property: background, color;
	transition-duration: 0.7s;
	transition-timing-function: ease;
}

.botao:hover {
	transition-property: background, color;
	transition-duration: 0.7s;
	transition-timing-function: ease;
	background: #6CACC5;
	color: #020659;
}